<!DOCTYPE html>
<html ng-app="passworksApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="styles/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/angular-csp.css">
  </head>
  <body ng-controller="mainCtrl">

    <div class="container-fluid">
      <div class="row">
        <h1>Passworks</h1>
      </div>

      {{receivedData}}

      <div ng-hide="serialService.isAuthenticated()">
        <input type="text" ng-model="command"/>
        <input type="button" value="Send" ng-click="serialService.writeSerial(command)"/>
        <input type="button" value="Connect" ng-click="serialService.getDevices()"/>
        <div class="well well-lg">
          <form ng-submit="serialService.authenticate(username, password)">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" id="username" type="text" ng-model="username"/>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="password" type="password" ng-model="password"/>
            </div>

            <div class="text-center"><input type="submit" class="btn btn-primary" value="Authenticate"/></div>
          </form>
        </div>

        <div ng-show="connected">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div ng-hide="connected">
          <span ng-hide="connected" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
      </div>

      <div ng-show="serialService.isAuthenticated()" class="row">
        <div class="text-center">
          <input ng-hide="creating" type="button" ng-click="creating = true"
                class="btn btn-primary" value="Add account"/>
        </div>

        <div ng-show="creating" class="well">
          <form ng-submit="createAccount(account)">
            <account-form></account-form>
          </form>
        </div>
        <input type="text" ng-model="id"/>
        <input type="button" value="Get Acc" ng-click="serialService.getAcc(id)">
        <ul class="list-group">
          <li ng-repeat="account in accounts" class="list-group-item">
            <h4 ng-click="account.updating = true">{{account.type}}</h4>

            <form ng-show="account.updating" ng-submit="updateAccount(account, $index)">
              <account-form></account-form>
            </form>

            <a class="remove" href="" ng-click="deleteAccount($index)">Remove</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/serial.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/account-form.js"></script>

  </body>
</html>
