<div class="form-group">
  <label for="type">Type</label>
  <input class="form-control" id="type" type="text" ng-model="account.type"/>
</div>

<div class="form-group">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" ng-model="account.username"/>
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" ng-model="account.password"/>
</div>

<input type="submit" class="btn" value="Save"/>
